# School

Bir **Warm-Up** etkinliÄŸi ve hÄ±zlÄ± bir `SELECT` ifadesiyle baÅŸlayalÄ±m.

## Data
Bu URL'de bulunan `school.sqlite` database ile Ã§alÄ±ÅŸacaÄŸÄ±z:
`https://wagon-public-datasets.s3.amazonaws.com/sql_databases/school.sqlite`

DosyayÄ± indirmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n:

In [1]:
!curl https://wagon-public-datasets.s3.amazonaws.com/sql_databases/school.sqlite > data/school.sqlite

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12288  100 12288    0     0  43886      0 --:--:-- --:--:-- --:--:-- 43885

## Database Discovery

Database'i keÅŸfetmek iÃ§in (database'i indirdikten sonra) VS Code SQLite extension'Ä±nÄ± kullanabilirsiniz:

- `Ctrl-Shift-P` veya `Cmd-Shift-P` tuÅŸlarÄ±na basÄ±n
- `SQLite: Open Database` gÃ¶rÃ¼nene kadar yazmaya baÅŸlayÄ±n
- `Enter`
- AÃ§Ä±lan listeden database dosyasÄ±nÄ± seÃ§in
- Sol alt kÃ¶ÅŸede `SQLITE EXPLORER` butonuna tÄ±klayÄ±n

AÅŸaÄŸÄ±daki sorularÄ± cevaplayÄ±n:

- KaÃ§ tane table var?
- Her table iÃ§in column'lar neler?

Schema ile rahat ettiÄŸinizde bir SQL Query yazalÄ±m.

## Setup

Pandas ve sqlite3 ihtiyacÄ±mÄ±z olan her ÅŸey :-)

In [5]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp39-cp39-macosx_11_0_arm64.whl (10.8 MB)
Requirement already satisfied: numpy>=1.22.4 in ./venv/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.9/site-packages (from pandas) (2025.3)
Collecting pytz>=2020.1
  Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-2.3.3 pytz-2025.2
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Users/idildundar/Desktop/week14/data_back_to_school_query/venv/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
from sqlite3 import connect

## Paris Students

ðŸ‘‰ `Paris` ÅŸehrinden tÃ¼m students kayÄ±tlarÄ±nÄ± seÃ§mek iÃ§in bir SQL Query yaz.

In [9]:
# Paris'ten gelen tÃ¼m Ã¶ÄŸrencileri retun et
query_students =  "SELECT * FROM students WHERE birth_city = 'Paris'"

In [10]:
with connect('data/school.sqlite') as conn:
    df = pd.read_sql(
        query_students,
        con=conn
    )
df.head()

   id first_name last_name birth_city
0   1       Oran  Southern      Paris
1   6     Bertha     Brook      Paris
2   7       Neha   Salazar      Paris
3   8     Ignacy     Casey      Paris
4  10    Shirley     Mayer      Paris

## Dynamic queries

Harika, Paris Ã¶ÄŸrencilerini aldÄ±k.

Ama bu sorgunun **dinamik** olmasÄ± (yani herhangi bir ÅŸehirle Ã§alÄ±ÅŸmasÄ±) gÃ¼zel olmaz mÄ±ydÄ±?

ðŸ‘‰ Sorguyu, herhangi bir ÅŸehir iÃ§in kullanabileceÄŸimiz ÅŸekilde yeniden yazÄ±n. AÅŸaÄŸÄ±daki kodda, DataFrameâ€™i yÃ¼klerken bunu nasÄ±l kullanacaÄŸÄ±mÄ±zÄ± gÃ¶rebilirsiniz.

In [11]:
# City den gelen tÃ¼m Ã¶ÄŸrencileri retun et
query_students = "Select * From students WHERE birth_city = 'city'"

In [12]:
city = 'London'

with connect('data/school.sqlite') as conn:
    df = pd.read_sql(
        query_students,
        con=conn,
        params=[city]  # BurasÄ± parametreyi, yani city deÄŸerini ilettiÄŸimiz yer.
    )
df.head()

DatabaseError: Execution failed on sql 'Select * From students WHERE birth_city = 'city'': Incorrect number of bindings supplied. The current statement uses 0, and there are 1 supplied.

SonuÃ§ beklediÄŸiniz gibi gÃ¶rÃ¼ndÃ¼ÄŸÃ¼nde, sorgunuzu test etmek iÃ§in aÅŸaÄŸÄ±daki hÃ¼creyi Ã§alÄ±ÅŸtÄ±rÄ±n.

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult(
    'school',
    query=query_students
)
result.write(); print(result.check())

## Key learning points

- Bir database Ã¼zerinde query yazmak iÃ§in Pandas kullanÄ±n
- Dinamik queries yazmak iÃ§in parameter substitution kullanÄ±n